html,
body {
  padding: 10px;
  width:100%;
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

}

nav{
  background: darkblue;
  color:white;
  border-top: solid black 5px;
  padding:1rem;
  font-weight:bold;
}

ul {
  list-style-type: none; /* Remove bullets */
  margin:0;
  padding:0;
}

p{
  margin:0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.card {
  border: solid rgb(209, 202, 202) 1px;
  background:rgb(209, 202, 202);
  padding:2rem;
  cursor:pointer;
}

.entry{
  border: solid rgb(209, 202, 202) 1px;

  cursor:pointer;

}

.entry:hover{
  border: solid black 1px;
  padding:0;
  margin:0

}

.container{
  width:90%;
  border:solid black 1px;
  background:rgb(209, 202, 202);

  margin:0 auto;
  
}

.title{
  font-weight:bold;
}

.videolist {
  margin:1rem;
}



button{
  background-color:transparent;
  border:none;
  outline:none;
  cursor:pointer;
  font-size:1.5rem;
}

button.off{
  color:grey;
}

button.off:hover{
  color:yellow;
}

button.on{
  color:yellow;
}